.section {
  &--city {
    grid-area: city;
    display: grid;
    grid-template-areas:
      "header header"
      "castle content";
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 1fr;
  }
  &__h2 {
    &--city {
      grid-area: header;
      text-align: center;
      padding: 12px 0 0 0;
    }
  }
  &__image {
    &--city {
      width: 150px;
      height: 150px;
      grid-area: castle;
      margin: auto;
      animation: appear 1s ease-in both;
      &-upgrade {
        width: 150px;
        height: 150px;
        grid-area: castle;
        margin: auto;
        animation: disappear 1s ease-in both;
      }
    }
  }
  &__content {
    font-weight: 700;
    animation: appear 1s ease-in both;
    &--deanimated {
      animation: disappear 1s ease-in both;
    }
  }
  &__container {
    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--city {
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__paragraph {
    &--city {
      text-align: center;
    }
    &--lv1 {
      animation: appear 1s ease-in both;
    }
    &--lv1-deanimated {
      animation: disappear 1s ease-in both;
    }
  }
}
