.section {
  &__image {
    width: 50px;
    height: 50px;
  }
  &__h2 {
    font-size: 36px;
    text-align: center;
    padding: 8px 0;
    font-weight: 500;
    color: var(--secondary-content-color);
  }
  &__h3 {
    font-size: 24px;
    font-weight: normal;
    color: var(--secondary-content-color);
  }
  &__paragraph {
    font-size: 18px;
  }
  &__button {
    &--buy {
      outline: var(--button-color);
      padding: 4px 12px;
      width: max-content;
      background: transparent;
      border-radius: 5px;
      color: var(--button-color);
      border: var(--button-border);
    }
    &--available {
      outline: var(--button-color);
      padding: 4px 12px;
      width: max-content;
      background: transparent;
      border-radius: 5px;
      color: var(--button-color-available);
      border: var(--button-border-available);
      animation: buttonColor 0.25s ease-in forwards;
    }
  }
  &__price {
    color: var(--secondary-content-color);
  }
}
