.section {
  &--units {
    grid-area: units;
    display: flex;
    flex-direction: column;
  }
  &__container {
    &--article {
      display: flex;
    }
  }
  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    &--units {
      width: 75px;
      height: 75px;
    }
  }
  &__h3 {
    &--units {
      padding: 8px 0;
    }
  }
  &__button {
    &--units {
      outline: var(--button-color);
      padding: 4px;
      width: 50px;
      background: transparent;
      border-radius: 5px;
      color: var(--button-color);
      border: var(--button-border);
    }
    &--available {
      outline: var(--button-color);
      padding: 4px;
      width: 50px;
      background: transparent;
      border-radius: 5px;
      color: var(--button-color-available);
      border: var(--button-border-available);
    }
  }
  &__paragraph {
    &--description {
      text-align: center;
      padding: 0 8px;
      font-size: 14px;
    }
    &--special {
      font-size: 14px;
      display: block;
      padding: 8px 0;
      line-height: 22px;
    }
  }
}
