.section {
  &--upgrades {
    grid-area: upgrades;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__container {
    &--upgrades {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 32px 0px 0;
      max-width: 800px;
    }
  }
  &__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--tile-border);
    border-radius: 16px;
    width: 80px;
    height: 80px;
    padding: 4px;
    margin: 2px;
  }
  &__image {
    &--upgrades {
      width: 70px;
      height: 70px;
    }
  }
  &__paragraph {
    &--upgrades {
      text-align: center;
    }
  }
  &__h3 {
    &--upgrades {
      text-align: center;
      padding: 8px 0;
    }
  }
}
