.section {
  &--upgrades {
    grid-area: upgrades;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__container {
    &--upgrades {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 32px 0px 0;
      max-width: 800px;
    }
  }
  &__tile {
    &--buy {
      display: flex;
      justify-content: center;
      align-items: center;
      border: var(--tile-border);
      border-radius: 16px;
      width: 80px;
      height: 80px;
      padding: 4px;
      margin: 2px;
    }
    &--available {
      display: flex;
      justify-content: center;
      align-items: center;
      border: var(--tile-border-available);
      border-radius: 16px;
      width: 80px;
      height: 80px;
      padding: 4px;
      margin: 2px;
      animation: buttonColor 0.25s ease-in forwards;
    }
  }
  &__image {
    &--upgrades {
      width: 70px;
      height: 70px;
    }
  }
  &__button {
    &--upgrade {
      background: none;
    }
  }
  &__article {
    &--upgrades {
      margin: 16px 0;
    }
  }
  &__paragraph {
    &--upgrades {
      opacity: 0;
      width: max-content;
      text-align: center;
      animation: var(--animation-paragraph);
    }
    &--required {
      color: var(--secondary-content-color);
    }
  }
  &__h3 {
    &--upgrades {
      opacity: 0;
      text-align: center;
      padding: 8px 0;
      animation: var(--animation-h3);
    }
  }
}
