:root {
  --button-border: 1px solid rgb(255, 0, 0);
  --button-color: rgb(255, 0, 0);
  --button-border-available: 1px solid rgb(255, 255, 255);
  --button-color-available: rgb(255, 255, 255);
  --background-color: rgb(0, 0, 0);
  --main-content-color: rgb(255, 255, 255);
  --secondary-content-color: rgb(255, 255, 0);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes coinScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

@keyframes unitScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes coinRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes buttonColor {
  from {
    color: var(--button-color);
    border: var(--button-border);
  }
  to {
    color: var(--button-color-available);
    border: var(--button-border-available);
  }
}
